# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
chipo.shape[0]

4622

In [8]:
# Solution 2
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [9]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [11]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [18]:
chipo.sort_values(by = ['quantity'], ascending = False).head(1)['item_name']

3598    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [81]:
chipo.groupby(['item_name'], as_index = False).agg({'quantity':'sum'}).sort_values(by = ['quantity']).tail(1).iloc[:, 0]

17    Chicken Bowl
Name: item_name, dtype: object

### Step 11. What was the most ordered item in the choice_description column?

In [6]:
chipo.groupby(['choice_description'], as_index = False).agg({'quantity':'sum'}).sort_values(by = ['quantity']).tail(1).iloc[:, :]

   choice_description  quantity
15        [Diet Coke]       159

### Step 12. How many items were orderd in total?

In [7]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

In [8]:
chipo['item_price'] = chipo['item_price'].str[1:]

In [9]:
chipo = chipo.astype({'item_price':'float'})

#### Step 13.a. Check the item price type

In [33]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [37]:
chipo = chipo.assign(item_price = lambda x: chipo['item_price'].str[1:]).astype({'item_price':'float'})

#### Step 13.c. Check the item price type

In [38]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [10]:
revenue = chipo.assign(total = lambda x: x['quantity'] * x['item_price'])['total'].sum()
revenue

39237.02

### Step 15. How many orders were made in the period?

In [14]:
or_num = chipo['order_id'].value_counts().count()
or_num

1834

### Step 16. What is the average revenue amount per order?

In [15]:
# Solution 1
av_rev = revenue / or_num
av_rev

21.39423118865867

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [20]:
len(chipo['item_name'].unique().tolist())

50